.comment {
	background-color: #444444;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;	
	border-radius: 10px 10px 10px 10px;
}

.commentInput {
	display: flex; 
}

.addCommentField {
	padding: 7px;
	margin-right: 10px;
	flex: 10;
	border-radius: 5px;
	height: 40px;
	background-color: #3C3C3C;
  	color: #FCFCFC;
  	resize: none;
}

.deleteButton {
	cursor: pointer;
	float: right;
}

.addButton {
	width: 80px;
	height: 40px;
}

.commentInput {
	margin-top: 12px;
}
