.snippetWrapper {
  border: 2px solid #000;
  overflow: hidden;
}

#snippet {
  float: left;
  width: 66%;
}

.snippetInfo {
  display: grid;
  grid-template-areas:
    "header buttons"
    "textarea textarea";
}

.infoArea {
  width: 100%;
  grid-area: textarea;
  border-radius: 5px;
  background-color: #3C3C3C;
  color: #FCFCFC;
}

.infoTextArea {
  grid-area: textarea;
  justify-self: stretch;
}

.viewerText {
  background-color: #3C3C3C;
  color: #FCFCFC;
  border-radius: 5px;
  grid-area: textarea;
  height: 50px;
}

.infoHeader {
  vertical-align: middle;
  grid-area: header;
  align-self: stretch;
}

.submitButton {
  justify-self: end;
  width: 100px;
  height: 40px;
  grid-area: buttons;
}
