.tableHead {
	border		: 2px solid black;
	background	: rgb(221, 221, 221);
   	color		: black;
	width		: 100%; 
	height: 100%;
	text-align	: left;
		font: 22px sans-serif;

	
}

.tableBody {
	border		: 2px solid black;
	background	: white;
   	color		: black;
	width		: 100%;
	height: 100%;
	text-align	: left;
	font: 22px sans-serif;
	empty-cells: show;
}
