html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	height: 100%;
}

a {
	color: #FCFCFC;
	text-decoration: none;
}

h1 {
	text-align: center;
	margin: auto;
	padding: 50px;
	width: 50%;
}

h2 {
	color: #FCFCFC;
}

h6 {
	color: #FCFCFC;
}

h5 {
	color: #FCFCFC;	
}

p {
	color: #FCFCFC;
}

label {
	color: #FCFCFC;
}

.btn:hover {
	background: #666;
}

.app {
	background-color: pink;
	display: grid;
	grid-template-columns: 270px auto 25%;
	grid-template-rows: 80px auto;
	border: 5px black;
	width: 100vw;
  	height: 100vh;
}

.commentPanel {
	background-color: #252526;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 20px 20px 0px 20px;
}

.controlPanel {
	background-color: #333333;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 20px;
}

.snippetHeader {
	background-color: #00346B;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 10px;
}

.snippetText {
	background-color: #1E1E1E;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.snippetInfo {
	background-color: #333333;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 10px;
}